<div class="radio">
  <label>
  <input type="radio" name="medicationOptionsRadios" id="medicationOptionsRadios1" value="option1" {{action 'step5'}} checked>
  <strong>Cefdinir: {{cefdinir_dose}}{{unit}} b.i.d. for {{duration}}</strong>
  </label>
</div>
<div class="radio">
  <label>
  <input type="radio" name="medicationOptionsRadios" id="medicationOptionsRadios2" value="option2" {{action 'step5'}}>
  Second Line Choice - <strong>Cefuroxime: {{cefuroxime_dose}}{{unit}} b.i.d. for {{duration}}</strong>
  </label>
</div>
<div class="radio">
  <label>
  <input type="radio" name="medicationOptionsRadios" id="medicationOptionsRadios3" value="option3" {{action 'step5'}}>
  Second Line Choice - <strong>Cefpodoxime: {{cefpodoxime_dose}}{{unit}} b.i.d. for {{duration}}</strong>
  </label>
</div>
<div class="radio">
  <label>
  <input type="radio" name="medicationOptionsRadios" id="medicationOptionsRadios4" value="option4" {{action 'step5'}}>
  No Antibiotic
  </label>
</div>

{{yield}}
