<div id="AOMModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bacterial disease diagnosis and medication guide</h4>
        <p>Based on Intermountain Healthcare's <a href="https://intermountainhealthcare.org/ext/Dcmnt?ncid=522927223">Acute Otitis Media Care Process Model</a> updated September 2013</p>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="modal-fixes">
            <div class="row" id="aom_step1">
              <h4>Select the image that most closely resembles the patient's inner ear</h4>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img id="bacterial_infection" src="images/bacterial_infection.jpg" alt="Acute otitis media" class="img-circle img-responsive" {{action 'step1_next' 'bacterial_infection' 'no_antibiotic'}}>
              </div>
              <div class="col-sm-6">
                <img id="no_antibiotic" src="images/no_antibiotic.jpg" alt="Otitis media with effusion" class="img-circle img-responsive" {{action 'step1_done' 'no_antibiotic' 'bacterial_infection'}}>
              </div>
            </div>
            <div id="aom_step2" class="hidden">
              <div class="row">
                <div class="col-sm-6">
                  <div class="radio">
                    <label>
                      <h4>
                        <input type="radio" name="aommeets" id="aommeetsRadios1" value="option1" {{action 'step2_next' on='change'}}>
                        Meets the following
                      </h4>
                    </label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="radio">
                    <label>
                      <h4>
                        <input type="radio" name="aommeets" id="aommeetsRadios2" value="option2" {{action 'step2_done' on='change'}}>
                        Does NOT meet the following
                      </h4>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <p>Has cloudy yellow fluid in the middle ear space PLUS at least 1 of the following:</p>
                <ol>
                  <li>Bulging ear drum</li>
                  <li>Otorrhea</li>
                  <li>Mild bulging with redness AND new pain</li>
                </ol>
              </div>
            </div>
            <div id="aom_step3" class="hidden">
              <div class="row">
                <div class="col-sm-6">
                  <div class="radio">
                    <label>
                      <h4>
                        <input type="radio" name="severity" id="severityRadios1" value="option1" {{action 'step3_next' on='change'}}>
                        Severe AOM
                      </h4>
                    </label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="radio">
                    <label>
                      <h4>
                        <input type="radio" name="severity" id="severityRadios2" value="option2" {{action 'step3_done' on='change'}}>
                        Mild or Moderate AOM
                      </h4>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <p>Severe Includes:</p>
                <div class="list">
                  <p>{{fa-icon icon="circle-o"}} Significant ear pain for > 48 hours OR</p>
                  <p>{{#if exceedTempThreshold}}
                        {{fa-icon icon="check-circle-o"}}
                      {{else}}
                        {{fa-icon icon="times-circle-o"}}
                      {{/if}}
                    Fever > 39&deg;C <span class="note">Current temp: {{round fc.patient.temp.value}}{{fc.patient.temp.unit}}</span> OR</p>
                  <p>{{fa-icon icon="circle-o"}} Otorrhea</p>
                </div>
              </div>
            </div>
            <div id="aom_step4" class="hidden">
              <div class="row">
                <h4>Select patient medication preference</h4>
                <div class="radio_group">
                  <div class="radio">
                    <label>
                    <input type="radio" name="medication_form" id="aom_medication_form_liquid" value="liquid" {{action 'step4' 'liquid' on='change'}}>
                    Liquid
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                    <input type="radio" name="medication_form" id="aom_medication_form_pill" value="pill" {{action 'step4' 'pill' on='change'}}>
                    Pill/Tablet
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div id="aom_step5" class="hidden">
              <div class="row">
                {{#if fc.patient.hasPenicillinAllergy}}
                  <h4>Select antibiotic <small><input id="aom_forceallergy" type="checkbox" {{action 'forceallergy' on='change'}} checked> Penicillin Allergy</small></h4>
                {{else}}
                  <h4>Select antibiotic <small><input id="aom_forceallergy" type="checkbox" {{action 'forceallergy' on='change'}}> Penicillin Allergy</small></h4>
                {{/if}}
                {{#if missingWeight}}
                  <form class="form-horizontal">
                    <div class="form-group zeroborder">
                      <label for="condition_datetime" class="col-sm-2 control-label">Weight</label>
                      <div class="col-sm-4">
                        <input id="aom_weight" class="form-control" placeholder="Patient Weight in kg" {{action 'saveweight' on='change'}}>
                      </div>
                      <div class="col-sm-5">
                        <i class="text-warning">Weight required for dose calculation</i>
                      </div>
                    </div>
                  </form>
                {{else}}
                  <p>Based on patient <span class="note">current weight {{round fc.patient.weight.value}}{{fc.patient.weight.unit}},
                    age {{fc.patient.age_value}} {{fc.patient.age_unit}} old</span>, and known allergies, recommended option selected</p>
                  <div class="radio_group">
                    {{component medication form=med_form}}
                  </div>
                {{/if}}
              </div>
              <div class="row">
                <p>NOTE: Azithromycin is NOT recommended due to antibiotic resistance.</p>
              </div>
              <div class="row">
                <h4>Diagnostic Criteria for Acute Otitis Media requiring antibiotics met</h4>
              </div>
            </div>
            <div id="aom_criteria_not_met" class="row hidden">
              <h4>Diagnostic Criteria for Acute Otitis Media requiring antibiotics <span class="note">not</span> met.</h4>
              <p>Recommend close follow-up but no antibiotics. <button type="button" class="btn btn-sm btn-warning" {{action 'override'}}>Override</button></p>
              <input id="aom_override" type="text" class="form-control hidden" placeholder="Reason for override">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="aom_review" class="btn btn-primary pull-left hidden" data-dismiss="modal">Review and Sign</button>
        <button type="button" id="aom_cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{yield}}
