<div class="radio">
  <label>
  <input type="radio" name="medicationOptionsRadios" id="medicationOptionsRadios4" value="option4" {{action 'step5' 'cefdinir' on='change'}} checked>
  <strong>Cefdinir{{type}}: {{cefdinir_dose}}{{unit}} b.i.d. for {{duration_value}} {{duration_unit}}</strong>
  </label>
</div>
<div class="radio">
  <label>
  <input type="radio" name="medicationOptionsRadios" id="medicationOptionsRadios5" value="option5" {{action 'step5' 'cefuroxime' on='change'}}>
  Second Line Choice - <strong>Cefuroxime{{type}}: {{cefuroxime_dose}}{{unit}} b.i.d. for {{duration_value}} {{duration_unit}}</strong>
  </label>
</div>
<div class="radio">
  <label>
  <input type="radio" name="medicationOptionsRadios" id="medicationOptionsRadios6" value="option6" {{action 'step5' 'cefpodoxime' on='change'}}>
  Second Line Choice - <strong>Cefpodoxime{{type}}: {{cefpodoxime_dose}}{{unit}} b.i.d. for {{duration_value}} {{duration_unit}}</strong>
  </label>
</div>
<div class="radio">
  <label>
  <input type="radio" name="medicationOptionsRadios" id="medicationOptionsRadios7" value="option7" {{action 'step5' on='change'}}>
  No Antibiotic
  </label>
</div>

{{yield}}
