<div class="container">
  <h2 id="title">Pediatric Antimicrobial CDS</h2>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#appnavbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="appnavbar">
        <ul class="nav navbar-nav">
          <li>{{link-to "App Home" "index"}}{{fc.patient.age_value}}{{fc.patient.age.value}}</li>
          <li>{{link-to "Patient Summary" "patient"}}</li>
          <li>{{link-to "Medications" "medicationorders"}}</li>
          <li>{{link-to "Conditions" "conditions"}}</li>
        </ul>
        {{#if fc.isAuthenticated}}
          {{#unless fc.isLoading}}
            <ul class="nav navbar-nav navbar-right">
              <li class="navcontent">{{fc.patient.formatted_name}}</li>
              <li class="navcontent">{{fc.patient.gender}}</li>
              <li class="navcontent">{{fc.patient.birthDate}}</li>
            </ul>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </nav>
{{outlet}}
</div>
