{{aom-modal medication_callback=(action 'medication_callback')}}

{{strep-modal medication_callback=(action 'medication_callback')}}

<form id="condition_form" class="form-horizontal">

  <div class="form-group">
    <label for="condition_datetime" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-5">
      <input id="condition_date" type="datetime" class="form-control" placeholder="Now">
    </div>
  </div>

  <div class="form-group">
    <label for="condition_diagnosis" class="col-sm-2 control-label">Primary Diagnosis</label>
    <div class="col-sm-5">
      <select class="form-control" id="condition_diagnosis" {{action "fire_cds" on="change"}}>
        <option value=""> - Select Diagnosis - </option>
        <option value="3110003">Acute Otitis Media</option>
        <option value="65363002">Otitis Media</option>
        <option value="43878008">Streptococcal Pharyngitis</option>
        <option value="1532007">Viral pharyngitis</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="condition_notes" class="col-sm-2 control-label">Clinical Notes</label>
    <div class="col-sm-10">
      <textarea id="condition_notes" class="form-control" rows="3" placeholder="Enter Notes here."></textarea>
    </div>
  </div>

  {{#if medication.display}}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <strong>CDS Assigned Medication</strong>
      <p>{{medication.display}}, {{medication.dosageInstruction}}, {{medication.duration_value}} {{medication.duration_unit}}</p>
    </div>
  </div>
  {{/if}}

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <button type="reset" class="btn btn-danger" {{action 'clearall'}}>Reset Form</button>
      </div>
      <div class="col-sm-3 pull-right">
        <button type="submit" class="btn btn-success" {{action 'save'}}>Sign &amp; Submit</button>
      </div>
  </div>

</form>

<div id="general-education" class="hidden">
  <h4>Patient Education Materials</h4>
  <ul>
    <li><a href="https://intermountainhealthcare.org/ext/Dcmnt?ncid=523800231" target="_blank">Pediatric Dosing Guide: Acetaminophen (Tylenol)</a></li>
    <li><a href="https://intermountainhealthcare.org/ext/Dcmnt?ncid=520185679" target="_blank">Colds and Coughs in Children and Adolescents: Managing Viral Infections</a></li>
    <li id="aom-education" class="hidden"><a href="https://intermountainhealthcare.org/ext/Dcmnt?ncid=520212184" target="_blank">Ear Infections Fact Sheet</a></li>
    <li id="strep-education" class="hidden"><a href="https://intermountainhealthcare.org/ext/Dcmnt?ncid=520408024" target="_blank">Strep Throat</a></li>
  </ul>
</div>

{{outlet}}
