{{#unless fc.isAuthenticated}}
  <div class="alert alert-danger" role="alert">
    <p class="bg-danger">Patient Context not loaded or not Authenticated, app will not function.</p>
  </div>
  {{launch-instructions}}
{{else}}
  <h4>Patient Context loaded and Authentication has succeeded</h4>
  {{#if fc.isLoading}}
    <div class="alert alert-info" role="alert">Loading Application...</div>
  {{/if}}
  <br/>
  <br/>
  <button id="instructions-button" class="btn btn-default" {{action 'showinstructions'}}>View HSPC Instructions</button>
  <div class="hidden" id="instructions">
    {{launch-instructions}}
  </div>
{{/unless}}
{{outlet}}
