<div class="container">
  <div class="row">
    <div class="col-md-6 border">
      <div class="row zeroborder">
      <h3>Patient Information</h3>
      <dl class="dl-horizontal zeroborder">
        <dt>Name</dt>
        <dd>{{fc.patient.formatted_name}}
        </dd>
        <dt>Birth Date</dt>
        <dd>{{fc.patient.birthDate}}</dd>
        <dt>Sex</dt>
        <dd>{{fc.patient.gender}}</dd>
        <dt>Address</dt>
        <dd>{{fc.patient.formatted_address}}</dd>
      </dl>
    </div>
    <div class="row zeroborder">
      <p class="lead">Recent Vitals</p>
      <dl class="dl-horizontal zeroborder">
        <dt>Weight</dt>
        <dd>{{round fc.patient.weight.value}} {{fc.patient.weight.unit}} <span class="patientspan">{{fc.patient.weight.date}}</span></dd>
        <dt>Temperature</dt>
        <dd>{{round fc.patient.temp.value}} {{fc.patient.temp.unit}} <span class="patientspan">{{fc.patient.temp.date}}</span></dd>
        <dt>BP Systolic</dt>
        <dd>{{fc.patient.bloodpressure.systolic.value}} {{fc.patient.bloodpressure.systolic.unit}}
          <span class="patientspan">{{fc.patient.bloodpressure.systolic.date}}</span></dd>
        <dt>BP Diastolic</dt>
        <dd>{{fc.patient.bloodpressure.diastolic.value}} {{fc.patient.bloodpressure.diastolic.unit}}
          <span class="patientspan">{{fc.patient.bloodpressure.diastolic.date}}</span></dd>
      </dl>
    </div>
  </div>
    <div class="col-md-6 border">
      <h3>Reason for current visit</h3>
      <p>Unknown</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Condition List</h3>
      {{condition-list conditions=fc.patient.conditions index=0 highlight_color='bg-infolight-a'}}
      {{condition-list conditions=fc.patient.conditions index=1 highlight_color='bg-infolight-b'}}
      {{condition-list conditions=fc.patient.conditions index=2 highlight_color='bg-infolight-a'}}
      {{condition-list conditions=fc.patient.conditions index=3 highlight_color='bg-infolight-b'}}
      {{condition-list conditions=fc.patient.conditions index=4 highlight_color='bg-infolight-a'}}
      <div class="row info">
        {{#if fc.patient.conditions}}
        Total Conditions: {{fc.patient.conditions.length}}
        {{else}}
        <p>No Documented Conditions</p>
        {{/if}}
      </div>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-5">
      <h3>Medication History</h3>
      {{medication-list meds=fc.patient.medications index=0 highlight_color='bg-infolight-b'}}
      {{medication-list meds=fc.patient.medications index=1 highlight_color='bg-infolight-a'}}
      {{medication-list meds=fc.patient.medications index=2 highlight_color='bg-infolight-b'}}
      {{medication-list meds=fc.patient.medications index=3 highlight_color='bg-infolight-a'}}
      {{medication-list meds=fc.patient.medications index=4 highlight_color='bg-infolight-b'}}
      <div class="row info">
        {{#if fc.patient.medications}}
        Total Medications: {{fc.patient.medications.length}}
        {{else}}
        <p>No Medication History</p>
        {{/if}}
      </div>
      <div class="row">
        <p>&nbsp;</p>
        {{link-to "Medications" "medicationorders" class="btn btn-default pull-right"}}
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Lab Results</h3>

      <div class="row bg-infolight-a">
        <span>
          <strong>Triglycerides, Serum or Plasma</strong> 72 <span class="faded">Aug 12, 2015</span>
          <div class="labbutton pull-right hidden">
            <em>i</em>
          </div>
        </span>
      </div>

      <div class="row bg-infolight-b">
        <span>
          <strong>Stat Gram Stain</strong> +1 - click review for more details <span class="faded">Yesterday</span>
          <div class="labbutton pull-right hidden">
            <em>i</em>
          </div>
        </span>
      </div>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Allergies</h3>
      {{allergy-list allergies=fc.patient.allergies index=0 highlight_color='bg-infolight-b'}}
      {{allergy-list allergies=fc.patient.allergies index=1 highlight_color='bg-infolight-a'}}
      {{allergy-list allergies=fc.patient.allergies index=2 highlight_color='bg-infolight-b'}}
      {{allergy-list allergies=fc.patient.allergies index=3 highlight_color='bg-infolight-a'}}
      {{allergy-list allergies=fc.patient.allergies index=4 highlight_color='bg-infolight-b'}}
      <div class="row info">
        {{#if fc.patient.allergies}}
        Total Allergies: {{fc.patient.allergies.length}}
        {{else}}
        <p>No Allergy History</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
