<div class="container">
  <div class="row">
    <div class="col-md-6 border">
      <div class="row zeroborder">
      <h3>Patient Information</h3>
      <dl class="dl-horizontal zeroborder">
        <dt>Name</dt>
        <dd>{{fc.patient.formatted_name}}
        </dd>
        <dt>Birth Date</dt>
        <dd>{{fc.patient.birthDate}}</dd>
        <dt>Sex</dt>
        <dd>{{fc.patient.gender}}</dd>
        <dt>Address</dt>
        <dd>{{fc.patient.formatted_address}}</dd>
      </dl>
    </div>
    <div class="row zeroborder">
      <p class="lead">Recent Vitals</p>
      <dl class="dl-horizontal zeroborder">
        <dt>Weight</dt>
        <dd>{{round fc.patient.weight.value}} {{fc.patient.weight.unit}} <span class="patientspan">{{fc.patient.weight.date}}</span></dd>
        <dt>Temperature</dt>
        <dd>{{round fc.patient.temp.value}} {{fc.patient.temp.unit}} <span class="patientspan">{{fc.patient.temp.date}}</span></dd>
        <dt>BP Systolic</dt>
        <dd>{{fc.patient.bloodpressure.systolic.value}} {{fc.patient.bloodpressure.systolic.unit}}
          <span class="patientspan">{{fc.patient.bloodpressure.systolic.date}}</span></dd>
        <dt>BP Diastolic</dt>
        <dd>{{fc.patient.bloodpressure.diastolic.value}} {{fc.patient.bloodpressure.diastolic.unit}}
          <span class="patientspan">{{fc.patient.bloodpressure.diastolic.date}}</span></dd>
      </dl>
    </div>
  </div>
    <div class="col-md-6 border">
      <h3>Reason for current visit</h3>
      <p>Followup for pneumonia.</p>
      <p class="lead">Recent Patient Notes</p>
      <p><strong>Sept 1, 2015</strong> - Pat was admitted to Local Area Regional Hospital due to severe bacterial pneumonia. Due to complications with pneumonia and health conditions...</p>
      <p><strong>Aug 1, 2015</strong> - Pat visited due to increasingly severe migraines. Prescribed additional medication to help alleviate pain</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 border">
      <button class="btn btn-default pull-right" data-toggle="modal" data-target="#aboutModal">Review</button>
    </div>
    <div class="col-md-6 border">
      <button class="btn btn-default pull-right" data-toggle="modal" data-target="#aboutModal">Modify</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Problem List</h3>

      <div class="row bg-infolight-a">
        <span class="patientspan">Hypertensive disorder
          <div class="problembutton pull-right hidden" data-mainsearchcriteria_v_c="38341003" data-mainsearchcriteria_v_dn="Hypertensive disorder">
            <em>i</em>
          </div>
        </span>
      </div>

      <div class="row bg-infolight-b">
        <span>Transformed migraine
          <div class="problembutton pull-right hidden" data-mainsearchcriteria_v_c="427419006" data-mainsearchcriteria_v_dn="Transformed migraine">
            <em>i</em>
          </div>
        </span>
      </div>

      <div class="row bg-infolight-a">
        <span>Hypercholesterolemia
          <div class="problembutton pull-right hidden" data-mainsearchcriteria_v_c="13644009" data-mainsearchcriteria_v_dn="Hypercholesterolemia">
            <em>i</em>
          </div>
        </span>
      </div>

      <div class="row">
        <p class="lead">Non-Chronic</p>
      </div>

      <div class="row bg-infolight-b">
        <span>Bacterial pneumonia
          <div class="problembutton pull-right hidden" data-mainsearchcriteria_v_c="53084003" data-mainsearchcriteria_v_dn="Bacterial pneumonia">
            <em>i</em>
          </div>
        </span>
      </div>

    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-5">
      <h3>Medications</h3>

      <div class="row bg-infolight-b">
        <strong>Lisinopril</strong> 40 MG Oral Tablet
      </div>

      <div class="row bg-infolight-a">
        <strong>Diltiazem Hydrochloride</strong> 180 MG Extended Release Oral Tablet
      </div>

      <div class="row bg-infolight-b">
        <strong>Divalproex</strong> Sodium 300 MG
      </div>

      <div class="row bg-infolight-a">
        <strong>Simvastatin</strong> 40 MG [Zocor]
      </div>

      <div class="row bg-infolight-b">
        <strong>Levofloxacin</strong> 500 MG Oral Tablet
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Lab Results</h3>

      <div class="row bg-infolight-a">
        <span>
          <strong>Triglycerides, Serum or Plasma</strong> 72 <span class="faded">Aug 12, 2015</span>
          <div class="labbutton pull-right hidden" data-mainsearchcriteria_v_c="2571-8" data-mainsearchcriteria_v_dn="Triglycerides, Serum or Plasma">
            <em>i</em>
          </div>
        </span>
      </div>

      <div class="row bg-infolight-b">
        <span>
          <strong>Stat Gram Stain</strong> +1 - click review for more details <span class="faded">Yesterday</span>
          <div class="labbutton pull-right hidden" data-mainsearchcriteria_v_c="664-3" data-mainsearchcriteria_v_dn="Stat Gram Stain">
            <em>i</em>
          </div>
        </span>
      </div>

    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <h3>Allergies</h3>

      <div class="row bg-infolight-b">
        <strong>Penicillin</strong> Severe; anaphylactic reaction
      </div>

    </div>
  </div>
</div>

{{outlet}}
